<span class="money">
  {%- if settings.currency_format == 'money_format' -%}
  	{{- price | money -}}
  {%- else -%}
  	{{- price | money_with_currency -}}
  {%- endif -%}
    <span class='single-deal-price-schedule'>{% if product.type == 'subscription box' %}/month{% endif %}</span>
</span>